<div class="login_page">
	<div class="login_title">
		<p>Please log in</p>
	</div>
	<div class="login_window">
		<%= form_tag do %>
		<div class="login_label">User Name</div>
		<div class="login_user_name_field">
			<%= text_field_tag :name, params[:name] %>
		</div>
		<div class="login_label">Passowrd</div>
		<div class="login_password_field">
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div class="login_submit">
			<%= submit_tag 'Login' %>
		</div>
		<% end %>
		<div>
			<% if notice %>
			<p class="errormsg"><%= notice %></p>
			<% end %>
		</div>
	</div>

</div>
		
