<h1>Please Log In</h1>

<table>
	<%= form_tag do %>
		<tr>
			<td><%= label_tag :name, 'UserName' %></td>
			<td><%= text_field_tag :name, params[:name], size: 40%></td>
		</tr>
		<tr>
			<td><%= label_tag :password, 'Password' %></td>
			<td><%= password_field_tag :password, params[:password],
				size: 40 %></td>
		</tr>
		<tr>
			<td><%= submit_tag 'Login' %></td>
		</tr>
	<% end %>
</table>
<div>
	<% if notice %>
	<p class="errormsg"><%= notice %></p>
	<% end %>
</div>
		
