<div class="layout">
	<p id="notice"><%= notice %></p>
	<div class="article">
		<div class="title">
			<h2><%= @article.title %></h2>
		</div>
		<div>
			Posted:<%= @article.date %> By:<%= @article.author %>
		</div>
		<div class="content">
			<p><%= @article.content.html_safe %></p>
		</div>

		<div class="article_bottom">
			<div class="article_tags">#
				<% flag = true %>
				<% @article.tags.split(/,/).each do |t| %>
					<% if flag then %>
						<% flag = false %>
					<% else %>
						<%= ',' %>
					<% end %>
					<%= link_to "#{t}", tag_search_path(tag: t) %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="article_comment">
		<div class="title">
			Comments:
		</div>
		<div> 
			<% @comment_list.each do |c| %>
				<div class="comment">
					<div>
						<%= c.nick + " says:"  %>
					</div>
					<div>
						<%= c.content %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="comment_list">
			<% if flash[:alert] %>
				<p><%= flash[:alert] %></p>
			<% end %>
			<%= render @comment %>
		</div>
	</div>
</div>
