<div class="layout">
	<div class="article_list">
		<div class="article">
			<div>
				<div class="title">
					<p><%= link_to "#{@article.title}", @article %></p>
				</div>
				<div class="datetime">
					Posted: <%= @article.date.strftime('%Y-%m-%d').to_s %> By:<%= @article.author %>
				</div>
				<div class="content">
					<p><%= @article.content.html_safe %></p>
				</div>
			</div>
			<div class="article_bottom">
				<div class="article_tags">#
					<% flag = true %>
					<% @article.tags.split(/,/).each do |t| %>
						<% if flag then %>
							<% flag = false %>
						<% else %>
							<%= ',' %>
						<% end %>
						<%= link_to "#{t}", tag_search_path(tag: t) %>
					<% end %>
				</div>
				<% if session[:user_id] then %>
					<div class="article_operate">
						<%= link_to 'Edit', edit_article_path(@article),
										method: :get %> |
						<%= link_to 'Destroy', @article,
								method: :delete, data: 
								{ confirm: 'Are you sure?' } %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="article_comment">
			<div class="comment_title">
				<p><%= @comment_list.count %> comments</p>
			</div>
			<div class="comments"> 
				<%= render @comment_list %>
					
					<!-- reply window -->
					<div class="comment_reply">
						<div class="reply_field">
							<%= form_for Comment.new do |f| %>
								<%= f.hidden_field :article_id, { :value => @article.id } %> 
								<% if session[:user_id] %>
									<% login_user = User.find(session[:user_id]) %>
									<%= f.hidden_field :nick, { :value => login_user.name } %>
									<%= f.hidden_field :email, { :value => login_user.email } %>
									<%= f.hidden_field :user_id, { :value => session[:user_id] } %>
									<%= f.hidden_field :reply_id, { :value => -1 } %>
								<% else %>
									<%= f.hidden_field :reply_id, { :value => -1 } %>
									<div>
										<%= f.text_field :nick, size: 50 %> <%= f.label 'Nick' %>
									</div>
									<div>
										<%= f.text_field :email, size: 50 %> <%= f.label 'Email' %>
									</div>
								<% end %>
								<div>
									<%= f.text_area :content, rows: 5, cols: 80 %>
								</div>
								<div class="actions">
									<%= f.submit 'Submit'%>
								</div>
							<% end %>
						</div>
					</div>
					<!-- reply window -->

					<script type="text/javascript">
						$('.reply').click(function(){

							if($('.comment_reply').is(':visible')) $('.comment_reply').slideUp(500);
							else {
							
								$(this).parent().after($('.comment_reply'));
								$('.comment_reply').slideDown(500);
								$('#comment_reply_id').attr('value',$(this).attr('id'));
							}
						});
					</script>


			</div>
			<div class="comment_submit">
				<% if flash[:alert] %>
					<p><%= flash[:alert] %></p>
				<% end %>
				<%= render :template => "comments/new" %>
			</div>
		</div>
	</div>
</div>
