<%= form_for(@article_tag) do |f| %>
  <% if @article_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article_tag.errors.count, "error") %> prohibited this article_tag from being saved:</h2>

      <ul>
      <% @article_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %><br>
    <%= f.number_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
