<!DOCTYPE html>
<html>
<head>
	<title>Blogme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="main">
		<div id="header" style="display: none">
			<div class="header_up">

				<div class="logo">
					<%= link_to 'Blog me', articles_url %>
				</div>

				<div style="float: right">
					
					<% if session[:user_id] %>
						<%= User.find_by_id(session[:user_id]).name %>
						<%= link_to 'Logout', logout_url, method: :delete %>
					<% else %>
						<%= link_to 'SignIn', login_url %>
					<% end %>
				</div>
			</div>
			<div class="header_down">
				
			</div>
		</div>
		<div id="layout">
			<table>
				<tr>
					<td valign="top">
						<div class="yield">
							<%= yield %>
						</div>
					</td>
					<td valign="top">
						<div class="rightbar">
						<div class="search_bar">
							<table class="search_table">
								<tr>
									<%= form_tag '/search', method: :new do %>
										<td>
											<div class="search_field">
												<%= text_field_tag :key_words, '' %>
											</div>
										</td>
										<td>
											<div class="search_btn">
												<%= submit_tag 'Search' %>
											</div>
										</td>
									<% end %>
								</tr>
							</table>
							
						</div>

						<div class="tags">
							<div class="tags_title">
								Tags
							</div>
							<div class="tags_content">
								<%= render "article_tags/article_tag" %>
							</div>
						</div>

						

						<div style="display: none">
							<%= link_to 'New Article', new_article_path, method: :get %>
						</div>
						</div>
					</td>
				</tr>
				
			</table>
		</div>
		<div id="bottom">
			bottom
		</div>
	</div>
</body>
</html>
